build
bin

__pycache__
.ipynb_checkpoints

.vscode
configme.sh
allfigures

*.sif

forces-0.txt
grid.h5
iterations-0.txt
logs
output
slurm*.out
slurm*.err
solution
stderr.txt
stdout.txt
view.log
.logamgx
*.xmf
